@using Microsoft.AspNetCore.Components.Authorization
@using Opilochka.Web.Components.Pages.Auth

@inherits LayoutComponentBase

<div class ="flex">
    <NavMenu />
    <Opilochka.Web.Components.Pages.BgImage></Opilochka.Web.Components.Pages.BgImage>
    @Body
</div>
